body {
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    background-size: cover;
    background-position-x: center;
    background-position-y: auto;
    background-color: rgb(59, 37, 49);
}

.nextTo {
    display:flex;
    height: fit-content;
    align-items: center;
    justify-content:center;
    line-height: 0px;
}
.arrow {
    border: none;
    background:none;
    cursor:pointer;
    color:white;
    align-content: center;
    line-height: 0px;
    aspect-ratio: 1;
    height:20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}
.notes {
    max-height:0px;
    overflow: hidden;
    transition-duration: 0.5s;
    position:absolute;
    left:50%;
    transform: translate(-50%, 10px);
    background-color: rgb(85, 47, 68);
    box-shadow: 0px 0px 10px black;
    z-index: 5;
    width:40%;
}
.notes.notes-open {
    max-height:300px;
    overflow: hidden;
}
.notes a {
    color:rgb(241, 189, 224);
}
.notes div {
    padding:15px;
}
.arrow.arrow-down {
    transform: rotate(90deg) translate(3px);
}
.arrow .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

.wrapper {
    display:flex;
    height:fit-content;
}

.main {
    background-color: rgb(59, 37, 49);
    flex-grow: 1;
    transition-duration: 0.5s;
    margin-right:30px;
}

select {
    border:none;
    font-size: medium;
    padding:5px;
    background-color: rgb(85, 47, 68);
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    color:white;
    font-family: "Inter", sans-serif;
    text-align: center;
    cursor:pointer;
}
.descending {
    border:none;
    font-size: medium;
    padding:5px;
    background-color: rgb(85, 47, 68);
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    color:white;
    font-family: "Inter", sans-serif;
    text-align: center;
    cursor:pointer;
}

.paneltoggle {
    width: 330px;
    height:150%;
    position:fixed;
    top: 50%;
    left: 100%;
    transform: translate(-30px, -50%);
    border:none;
    cursor:pointer;
    background-color: rgb(85, 47, 68);
    box-shadow: 0px 0px 10px black;
    z-index:2;
    transition-duration: 0.3s;
}
.buttinfo {
    width:30px;
    height:100%;
    position:fixed;
    top: 50%;
    left: 0%;
    transform: translate(-10px, -50%);
    writing-mode: vertical-lr;
    vertical-align:middle;
    font-size: medium;
    font-family: "Inter", sans-serif;
    color:white
}

.sidepanel {
    position:fixed;
    top: 50%;
    left: 100%;
    transform: translate(0%, -50%);
    height:100%;
    width:300px;
    flex-shrink:0;
    background-color: rgb(59, 37, 49);
    color:white;
    z-index:3;
    transition-duration: 0.3s;
    overflow-y: scroll;
    overflow-x:hidden;
}

.side-panel-content p {
    font-size: large;
    margin-top:0;
}
.toppanel {
    margin-top:15px;
}

.side-panel-content {
    padding:15px;
}

.tagbutton {
    font-family: "Inter", sans-serif;
    border:none;
    cursor:pointer;
    background: transparent;
    font-size: medium;
    color:rgb(214, 124, 184);
    text-decoration: none;
}
.one {
    color:rgb(156, 103, 138);
}
.zero {
    color:rgb(110, 71, 98);
}
.tag-t {
    color:rgb(241, 189, 224) !important;
    text-decoration: underline !important;
}
.tag-e {
    color:rgb(223, 40, 70) !important;
    text-decoration:line-through !important;
}

.side-panel-content li {
    padding:0px;
    list-style-type:none;
    margin-left: 5px;
}
.side-panel-content ul {
    padding:5px;
    list-style-type: none;
}

.side-panel-open .sidepanel {
    display:initial;
    transform: translate(-100%, -50%);
}

.side-panel-open .paneltoggle {
    transform: translate(-330px, -50%);
}

.side-panel-open .main {
    filter:brightness(40%);
    pointer-events: none;
}

main {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: auto;
    padding:20px
}

.goback {
    pointer-events: all;
    position: fixed;
    width:100%;
    height: 100%;
    opacity: 0;
}
.goback:disabled {
    pointer-events: none;
    cursor:none;
}

.gallery {
    width:85%;
    padding:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-start;
    position:relative;
    margin:auto;
    gap:5px;
    transition-duration: 0.2s;
    background-color: rgb(85, 47, 68);
    box-shadow: 0px 0px 15px black;
}

.gallery:hover {
    align-items: flex-start;
}

.gallery a {
    height:350px;
    width:auto;
    align-self: center;
    justify-self: center;
    transition-duration: 0.2s;
}

.gallery a:hover{
    display:block;
    transform:scale(105%);
    box-shadow: 0px 0px 25px black, 0px 0px 10px black;
    z-index: 2;
}

.gallery img {
    width:100%;
    height:100%;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery video {
    width:100%;
    height:100%;
}
.theresnothing {
    width:500px !important;
    height:auto !important;
}

.hidden {
    visibility: hidden;
}

.loader {
    opacity: 0;
    border: 12px solid rgba(85, 47, 68, 0.575);
    border-top: 12px solid rgb(138, 82, 113);
    border-left: 12px solid rgb(138, 82, 113);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.5s linear infinite;
    position:fixed;
    z-index: 10;
    bottom: 5%;
    left: 47.5%;
    transform: translate(-50%);
    transition-duration: 0.2s;
}
.loadvisible {
    opacity: 1 !important;
}

@keyframes spin {
  0% { transform: rotate(45deg); }
  100% { transform: rotate(405deg); }
}